@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  outline: none;
  color: #0f0f0f;
  background-color: #171717;
  /* background-image: linear-gradient(135deg, #0a0a0a 0%, #262626 100%); */
  letter-spacing: .075em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #0a0a0a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 20px;
  background: #171717;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #171717;
}

*:focus {
  outline: none;
}

#root {
    overflow-y: hidden;
    max-height: 100vh;
}

@media (prefers-color-scheme: dark) { 
  :root {
    color: #e5e5e5;
    background-color: #0a0a0a;
    /* background-image: linear-gradient(135deg, #0a0a0a 0%, #262626 100%); */
  }
}
